# TARGET_sparc is not set
TARGET_sparc64=y
TARGET_LDSO_NAME="ld64-uClibc"
TARGET_ARCH_BITS=64
TARGET_ARCH="sparc64"
FORCE_OPTIONS_FOR_ARCH=y
TARGET_SUBARCH=""
ARCH_HAS_DEPRECATED_SYSCALLS=y
ARCH_BIG_ENDIAN=y
ARCH_HAS_MMU=y
ARCH_USE_MMU=y
UCLIBC_HAS_FLOATS=y
UCLIBC_HAS_FPU=y
ARCH_HAS_NO_LDSO=y
ARCH_HAS_UCONTEXT=y
UCLIBC_CTOR_DTOR=y
UCLIBC_EXTRA_CFLAGS="-march=v9 -m64"
